@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap');

:root{
    --green-color : #D1FAE5;
    --brown-color : #C4A484
}

body{
    font-family: 'Klee One', cursive;
    background-color: var(--brown-color);
    /* font-weight: bolder; */
}

h1,h2{
    text-align: center;
}
/* h1{
    margin-left: 35%;
    /* display: inline; */
    /* float: left; */
    /* padding-inline-start: 0px; 
}*/

#header{
    background-color:var(--green-color);
    height: 7rem;
    padding-top: 2rem;
    padding-right: 0%;
}
#input{
    font-family: 'Klee One', cursive;
    box-sizing: border-box;
    height: 5rem;
    width: 50%; 
    display: block;
    margin: 2% 30%;
    padding: 1rem;
}

#translate-button{
    margin: 1% 45%;
    text-align: center;
    height: 5rem;
    width:20%;
    font-weight: bold;
    font-family: 'Klee One', cursive;
    background-color: var(--green-color);
}

#heading-output{
    margin: 2% 30%;
    width: 50%;
    text-align: center;
}

#output{
    box-sizing: border-box;
    height: 5rem;
    width: 50%;
    display: block;
    margin: 2% 30%;
    padding: 1rem;
    border: 1px solid black;
}
#footer{
    background-color:var(--green-color);
    height: fit-content;
    text-align: center;
}

#about{
    min-width: 10rem;
    max-width: 40rem;
    text-align: center;
    padding: 1% 30%;
    font-weight: bold;
}

img{
    height: 5rem;
    width: 5rem;
    margin-left: 1rem;
    border-radius: 50%;
}

#container{
    background-color: var(--brown-color);
    padding: 0px;
    padding-inline-start: 0px;
}
textarea{
    background-color: var(--brown-color);
}